:root {
    --font-color-primary: #2B283A;
    --font-color-secondary: #10B981;
    --font-color-tertiary: #6B7280;

    --color-bg: #ECFDF5;
    --style-color-primary: #10B981;
    --style-color-secondary: #273549;

    --font-family-primary: "Inter", serif;
    --font-family-secondary: "Karla", sans-serif;
  }


  [data-theme="dark"] {
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #4ADF86;
    --font-color-tertiary: #D5D4D8;

    --color-bg: #1F2937;
    --style-color-primary: #10B981;
    --style-color-secondary: #273549;

    --font-family-primary: "Inter", serif;
    --font-family-secondary: "Karla", sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--font-color-primary);
    font-family: var(--font-family-primary);
}

h1 {
    font-family: var(--font-family-secondary);
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.025em;
}

.heading-highlight {
    color: var(--font-color-secondary);
}

h2 {
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.025em;
}

button {
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.025em;
    background-color: var(--style-color-primary);
    color: var(--font-color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

 #password1, #password2 {
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.025em;
    background-color: var(--style-color-secondary);
    color: var(--font-color-secondary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.switch i {
   color: var(--style-color-primary);
   font-size: 2em;
}

input[type=text], input[type=number] {
    background-color: var(--style-color-secondary);
    color: var(--font-color-secondary);
    border: none;
    border-radius: 5px;
}

input[type=text] {
    padding: 10px 20px;
    margin: 0;
}

input[type=number] {
    padding: 5px 15px;
    margin: 0 5px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    align-items: center;
}

.option {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
}

#generate {
    width: 300px;
    padding: 12px 15px;
    margin: 10px 0;
}
